progress[value]{
	/*background-color: gray;*/
}

.BoxContainer {
	position: relative;
	display: inline-block;
}

canvas {
	border: 1px solid #ccc;
	resize: both;
	overflow: auto;
}

.channelVisible {
	background-color: rgb(103, 172, 208);
}

.rect {
	position: absolute;
	z-index: 1;
	border: 3px dashed red;
}

.flexContainer {
	display: flex;	
}
