{% load staticfiles %}

<html>
	<head>
		<title>Graph Generator</title>

		<!-- style files -->
		{% block css %}
		<link rel="stylesheet" href="{% static 'GraphGenerator/css/base.css' %}">
		{% endblock css %}

		<!-- javascript files -->
		{% block javascript %}
		{% endblock javascript %}
	</head>
	<body>
	<header>
		<h1 class="logo">
			Graph Generator
		</h1>
	</header>
		{% block content %}
		{% endblock content %}
	</body>
</html>
