{% extends 'GraphGenerator/base.html' %}

{% load staticfiles %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'GraphGenerator/css/index.css' %}">
{% endblock css %}

{% block javascript %}
{{block.super}}
<!--<script src="{% static 'GraphGenerator/lib/three.min.js' %}"></script>-->
<script src="{% static 'GraphGenerator/js/bundle.js' %}"></script>
{% endblock javascript %}

{% block content %}
<input type="file" id="data">
<progress id="csvProgressBar" max="100" value="0"></progress>
<br/>
<div class="flexContainer">
	<div class="BoxContainer">
		<canvas id="MALDITOFScatterPlot"></canvas>
	</div>
	<div id="instructions">
		<ol>
			<li>Load Data</li>
			<li>Select areas you want to use in your calculation via drag and drop</li>
				<ul>
					<li>Resize boxes by dragging the top left and bottom right corners</li>
					<li>Move boxes by dragging in the center of a box</li>
					<li>Delete boxes by clicking inside a box while holding ctrl</li>
				</ul>
			<li>Select regression formula</li>
		</ol>
	</div>
</div>
<br/>
<div id="MALDITOFScatterPlot-GraphButtons">
	<label>Background Color</label>
	<input class="bgColor" type="color" value="#FFFFFF"/>
	<label>Foreground Color</label>
	<input class="graphColor" type="color" value="#000000"/>
	<label>Plot Width</label>
	<input class="width" type="number" value="800"/>
	<label>Plot Height</label>
	<input class="height" type="number" value="400"/>
</div>
<div id="MALDITOFScatterPlot-PointsButtons">
	<input id="channel0" class="color" disabled="true" type="color" value="#000000">
	<input id="channel1" class="color" disabled="true" type="color" value="#000000">
	<input id="channel2" class="color" disabled="true" type="color" value="#000000">
	<input id="channel3" class="color" disabled="true" type="color" value="#000000">
	<input id="channel4" class="color" disabled="true" type="color" value="#000000">
	<input id="channel5" class="color" disabled="true" type="color" value="#000000">
	<input id="channel6" class="color" disabled="true" type="color" value="#000000">
	<input id="channel7" class="color" disabled="true" type="color" value="#000000">
	<input id="channel8" class="color" disabled="true" type="color" value="#000000">
	<input id="channel9" class="color" disabled="true" type="color" value="#000000">
	<input id="channel10" class="color" disabled="true" type="color" value="#000000">
	<input id="channel11" class="color" disabled="true" type="color" value="#000000">
	<input id="channel12" class="color" disabled="true" type="color" value="#000000">
	<input id="channel13" class="color" disabled="true" type="color" value="#000000">
	<input id="channel14" class="color" disabled="true" type="color" value="#000000">
	<input id="channel15" class="color" disabled="true" type="color" value="#000000">
</div>
<select id="regression" name="RegressionOptions">
	<option value="" selected hidden>Choose Regression</option>
	<option value="linear">Linear Regression</option>
	<option value="exponential">Exponential Regression</option>
	<option value="logarithmic">Logarithmic Regression</option>
	<option value="power">Power Law Regression</option>
	<option value="polynomial">Polynomial Regression</option>
</select>
<div id="channelCanvases">
</div>
{% endblock content %}
